@import './styles/fonts.scss';
@import '@/styles/variables.scss';

:root {
  font-family: system-ui, Coolvetica, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
}

@function rem($pixels) {
  @return calc($pixels / 10) + rem;
}

html {
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);

  @media (max-width: 530px) {
    --refRes: 390;
  }
}

body,
p {
  margin: 0;
}
