@import './styles/fonts.scss';

:root {
  height: 100%;
  font-family: system-ui, Coolvetica, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function rem($pixels) {
  @return calc($pixels / 10) + rem;
}

html {
  height: 100%;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);

  @media (max-width: 530px) {
    --refRes: 390;
  }

  background-color: #818181;
}

p {
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
