@import '@/App.scss';
@import '@/styles/variables.scss';

.coursesPage {
  display: flex;
  height: calc(100% - rem(60));
  overflow: hidden;
  &_navigation {
    overflow: auto;
    width: rem(345);
    box-sizing: border-box;
  }
  &_title {
    font-family: 'SF Pro Display';
    font-size: rem(20);
    color: $gray-200;
    font-weight: 500;
    padding: rem(30) 0 rem(15) rem(30);
  }
  &_lessonBlock {
    padding: rem(30) 0 rem(30) rem(30);
    border-bottom: 2px solid $gray-300;
  }
  &_module {
    display: flex;
    gap: 10px;
    padding: 0 rem(30) rem(30);
  }
  h2 {
    font-family: 'Neutral Face';
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    color: $black;
    font-size: rem(20);
    font-weight: 700;
    margin: 0;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
  &_lessonTitle {
    width: 100%;
    border-top: 2px solid $gray-300;
    border-bottom: 2px solid $gray-300;
  }
  h3 {
    width: rem(260);
    color: $gray-400;
    font-size: rem(32);
    font-weight: 700;
    cursor: default;
    margin: 0;
    padding: rem(30) 0 rem(30) rem(30);
  }
  &_lesson {
    font-family: 'SF Pro Display';
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    color: $black;
    margin-bottom: rem(8);
    font-size: rem(24);
    font-weight: 600;
    padding: 0 rem(30) 0 0;
    text-align: start;
    &:hover {
      background-color: transparent;
    }
  }
  &_section {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    &_block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: rem(285);
      height: rem(38);
      font-family: 'Neutral Face';
      font-weight: 700;
      font-size: rem(14);
      text-align: start;
      border-radius: rem(12);
      padding: rem(12) rem(24);
    }
  }
  &_navigationButtons {
    display: flex;
    gap: rem(55);
    align-items: center;
    background-color: $gray-400;
    border-radius: rem(12);
    padding: rem(10) rem(24);
    margin: rem(110) 0 rem(60) 0;
  }
  &_moduleButtons {
    display: flex;
    gap: 8px;
    background-color: transparent;
  }
  &_navigationButton {
    background-color: transparent;
    width: rem(19);
    height: rem(19);
    padding: 0;
    &:disabled {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
  &_navigationIcon {
    width: rem(19);
    height: rem(19);
  }
  &_currentStep {
    font-family: 'Neutral Face';
    color: $white;
    font-weight: 700;
    font-size: rem(15);
  }
  &_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border-left: 2px solid rgba(105, 105, 105, 1);
    overflow: auto;
  }
  &_image {
    width: rem(1230);
    height: auto;
    padding-top: rem(60);
  }
}
