@import '@/App.scss';
@import '@/styles/variables.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/background.png');
  background-size: fill;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
}

.authform {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: rem(20);
  padding: rem(32) rem(32) rem(20) rem(32);
  background-color: $white-opacity-70;
  &_error {
    width: rem(334);
    display: flex;
    align-items: center;
    font-family: 'Coolvetica';
    color: $pink-200;
    font-size: rem(20);
    margin-bottom: rem(20);
    img {
      width: rem(38);
      height: rem(37);
      margin-right: rem(8);
    }
  }
  &_tabs {
    display: flex;
    flex-direction: row;
    gap: rem(16);
    margin-bottom: rem(24);
  }
  &_buttons {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
  h1 {
    font-family: Neutral Face;
    font-weight: bold;
    font-size: rem(28);
    color: $gray-200;
    margin: 0;
    &.active {
      color: $black;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-family: 'Coolvetica';
    width: fit-content;
    input {
      box-sizing: border-box;
      width: rem(476);
      height: rem(56);
      border: 2px solid transparent;
      outline: none;
      border-radius: rem(10);
      font-family: 'Coolvetica';
      font-size: rem(20);
      padding: 0px rem(20) 0px 0px;
      text-indent: rem(20);
      caret-color: $black;
      &::placeholder {
        color: $gray-100;
      }
      &:focus {
        border: 2px solid $black;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}
