@import '@/App.scss';
@import '@/styles/variables.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  position: relative;
  z-index: 10;
  flex-direction: column;
}

.authform {
  z-index: 10;
  width: fit-content;
  border-radius: rem(20);
  padding: rem(32) rem(32) rem(20) rem(32);
  background-color: $white-opacity-70;

  &_links {
    width: rem(540);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;

    &_stekPro {
      background-color: $white-opacity-70;
      width: fit-content;
      padding: rem(16) rem(32);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(12);

      &_text {
        width: rem(158);
      }

      &_logo {
        width: rem(109);
      }
    }

    &_line {
      width: 100%;
      height: rem(4);
      background-color: $white-opacity-70;
    }
  }

  &_lines {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: rem(476);
    z-index: 10;
  }

  &_line {
    width: rem(4);
    height: rem(32);
    background-color: $white-opacity-70;
  }

  &_error {
    width: rem(334);
    display: flex;
    align-items: center;
    font-family: 'Coolvetica';
    color: $pink-200;
    font-size: rem(20);
    margin-bottom: rem(20);

    img {
      width: rem(38);
      height: rem(37);
      margin-right: rem(8);
    }
  }

  &_tabs {
    display: flex;
    flex-direction: row;
    gap: rem(16);
    margin-bottom: rem(24);
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  h1 {
    font-family: Neutral Face;
    font-weight: bold;
    font-size: rem(28);
    color: $gray-200;
    margin: 0;
    cursor: pointer;

    &.active {
      color: $black;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-family: 'Coolvetica';
    width: fit-content;

    input {
      box-sizing: border-box;
      width: rem(476);
      height: rem(56);
      border: 2px solid transparent;
      outline: none;
      border-radius: rem(10);
      font-family: 'Coolvetica';
      font-size: rem(20);
      caret-color: $black;
      background-color: #fff;
      padding: 0px rem(20) 0px 0px;
      text-indent: rem(20);

      &::placeholder {
        // color: transparent;
        color: $gray-100;
      }

      // &:focus {
      //   border: 2px solid $black;
      // }

      // &:focus + label,
      // &:not(:placeholder-shown) + label {
      //   transform: translateY(-120%) scale(0.8);
      //   // left: rem(6);
      //   background: linear-gradient(
      //     to bottom,
      //     rgba(255, 255, 255, 0) 55%,
      //     #fffbff 45%
      //   );
      //   color: $black;
      //   font-weight: bold;
      // }
    }
  }

  // &_input {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;

  //   label {
  //     position: absolute;
  //     left: rem(22);
  //     color: $gray-100;
  //     pointer-events: none;
  //     transition: all 0.3s ease;
  //     font-size: rem(20);
  //   }
  // }
}
