@import '@/App.scss';
@import '@/styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  width: rem(calc(100% - 60px));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: rem(60);
  padding: 0px rem(30);
  align-items: center;
  border-bottom: 2px solid $gray-300;
  background-color: $white;
  &_title {
    font-family: 'Neutral Face';
    font-size: rem(16);
    font-weight: 700;
    color: $black;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
  }
  img {
    width: rem(140);
    height: rem(28);
  }
}
