$black: #2B2B2B;
$gray-100: rgba(60, 60, 67, 0.3);
$gray-200: rgba(77, 77, 77, 0.6);
$white-opacity-70: rgba(255, 255, 255, 0.7);
$white: #fffbff;
$pink-100: #e89bb4; // Самый светлый (disabled)
$pink-200: #d95781; // Основной цвет (default)
$pink-300: #d23768; // Hover
$pink-400: #b72a56; // Active